.content-wrapper {
    max-width: 991px;
    width: 60%;
    margin: 0 auto; /* 화면 가운데 정렬 */
}

.page-title {
    color: black;
}

.highlight-title {
    background-color: #ffe599;
    font-size: 15pt;
    font-weight: bold;
}

.highlight-text {
    background-color: #b6d7a8;
    font-size: 12pt;
    font-weight: bold;
}
  