.content-wrapper {
    max-width: 60%;
    margin: 0 auto; /* 화면 가운데 정렬 */
}

.site-title a,
.navbar-brand {
  color: black !important;
  text-decoration: none !important; /* 필요하다면 밑줄 제거 */
}

/* 혹은 h1/h2 등으로 잡혀있다면 */
h1.site-title, /* 혹은 h1, h2, h3 전부 */
h1.site-title a {
  color: black !important;
}