---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>
    Hello, I am an undergraduate CS researcher at Yonsei University, 
    double-majoring in <span style="text-decoration: underline;">Computer Science</span> and
    <span style="text-decoration: underline;">Mathematics</span>. 
    </p>
    <p>
    My research interests can be divided into two parts:
    </p>
    <p>
    The first part focuses on optimizing database operations using multiple memtables.
    </p>
    <p>
    The second part involves designing private AI systems.
    </p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/picture.jpeg" alt="Home" width="100%">
  </div>
</div>

<!-- {% include publications.html %} -->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
    {% for post in site.posts %}
      <p>{{ post.title }} - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
