---
layout: default
title: Projects
permalink: /projects/
---

<!-- ---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% for project in site.data.settings.projects %}
      <p><a href="{{ site.github.url }}/projects/{{ project.url}}">{{ project.name }}</a></p>
    {% endfor %}
  </div>
</div> -->




<link rel="stylesheet" href="/assets/css/projects.css">

<div class="grid">
  {% for project in site.data.projects %}
    <div class="card" 
        data-title="{{ project.title | escape }}"
        data-image="{{ project.image | escape }}"
        data-description="{{ project.description | escape }}"
        onclick="openModal(this)">
      <img src="{{ site.github.url }}{{project.image}}" alt="projects" style="width: 100%; height: auto;" />
      <div class="card-text">{{ project.title }}</div>
    </div>
  {% endfor %}
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2 id="modal-title"></h2>
    <p id="modal-description"></p>
  </div>
</div>

<script>
  function openModal(element) {
    const modal = document.getElementById('modal');
    const title = document.getElementById('modal-title');
    const desc = document.getElementById('modal-description');

    title.textContent = element.getAttribute('data-title');
    desc.textContent = element.getAttribute('data-description');
    modal.style.display = 'block';
  }

  function closeModal() {
    const modal = document.getElementById('modal');
    modal.style.display = 'none';
  }

  window.onclick = function(event) {
    const modal = document.getElementById('modal');
    if (event.target === modal) {
      closeModal();
    }
  }
</script>
