---
layout: default
title: Projects
permalink: /projects/
---

<!-- ---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% for project in site.data.settings.projects %}
      <p><a href="{{ site.github.url }}/projects/{{ project.url}}">{{ project.name }}</a></p>
    {% endfor %}
  </div>
</div> -->




<link rel="stylesheet" href="/assets/css/projects.css">

<div class="grid">
  {% for project in site.data.projects %}
    <div class="card" onclick="openModal({{ forloop.index0 }})">
      <img src="{{ site.github.url }}{{project.image}}" alt="projects" style="width: 100%; height: auto;" />
      <div class="card-text">{{ project.title }}</div>
    </div>
  {% endfor %}
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2 id="modal-title">Project Title</h2>
    <p id="modal-description">Project description goes here...</p>
  </div>
</div>

<script>
  const modal = document.getElementById('modal');
  const title = document.getElementById('modal-title');
  const desc = document.getElementById('modal-description');

  const projectData = [
    {% for project in site.data.projects %}
    {
      title: "{{ project.title | escape }}",
      description: "{{ project.description | escape }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];

  function openModal(index) {
    title.textContent = projectData[index].title;
    desc.textContent = projectData[index].description;
    modal.style.display = 'block';
  }

  function closeModal() {
    modal.style.display = 'none';
  }

  window.onclick = function(event) {
    if (event.target === modal) {
      closeModal();
    }
  };
</script>
