---
layout: default
title: Projects
permalink: /projects/
---

<!-- ---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% for project in site.data.settings.projects %}
      <p><a href="{{ site.github.url }}/projects/{{ project.url}}">{{ project.name }}</a></p>
    {% endfor %}
  </div>
</div> -->




<link rel="stylesheet" href="/assets/css/style.css">

<div class="grid__wrapper">
  {% for project in site.data.projects %}
    <div class="grid__item">
      <a href="{{ project.link }}">
        <img src="{{ site.github.url }}{{project.image}}" alt="projects" style="width: 100%; height: auto;">
        <p>{{ project.description }}</p>
      </a>
    </div>
  {% endfor %}
</div>
